@use './components/customSelect.scss' as *;
@use './components/customCheckbox.css' as *;
@use './components/_reset.scss' as *;
@import './reset.scss';
@import './buttons.scss';
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes slideRight {
    from {
        opacity: 0;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

$form-color1: #191528;
$form-color2: #ffffff;
$form-color3: #4f51c9;
$form-color4: #ff527e;
$form-color5: #def034;
$form-color6: #27c79a;
$color1: #191528;
$color1-2: #2A2950;
$color2: #4f52c9;
$color3: #65c49d;
$color4: #e95f7f;
$color5: #ffffff;
$color6: #e2ef5c;
.btn-contact-us {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
}

body {
    background-color: $color1;
    max-width: 100%;
    color: #ffffff !important;
    font-family: Arial, Helvetica, sans-serif;
    a {
        text-decoration: none;
        color: #ffffff;
    }
    .btn-contact-us {
        display: none;
    }
    // Header
    header {
        display: flex;
        width: 100%;
        height: 170px;
        background: url(/assets/untitled-1-1@3x.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 60%;
        object-fit: contain;
        .header-wrapper {
            .logo-originals {
                img {
                    width: 100%;
                }
            }
            .social-container-header {
                flex-direction: column;
                display: table;
                position: absolute;
                top: 0.5%;
                right: 0;
                margin-top: 30px;
                margin-right: 21px;
                margin-left: 50px;
                .social-icons-header {
                    display: flex;
                    flex-direction: column;
                    list-style: none;
                    align-items: center;
                    .social-links-header {
                        margin-bottom: 7px;
                    }
                }
            }
        }
    }
    // Content
    .content {
        width: 100%;
        .banner-wrapper {
            width: 100%;
            .main-banner {
                width: 100%;
                box-sizing: border-box;
                .main-image {
                    width: 100%;
                    img {
                        width: 100%;
                        max-width: 100%;
                        height: 400px;
                        object-fit: cover;
                        border: none;
                        z-index: -2;
                    }
                }
                .green-square {
                    content: "";
                    width: 65%;
                    height: 83px;
                    display: block;
                    position: absolute;
                    box-sizing: border-box;
                    border: 3px solid $color3;
                    margin-top: -75px;
                    left: 85px;
                    z-index: 1;
                }
                .box-text-banner {
                    .title {
                        width: 62%;
                        display: block;
                        position: relative;
                        background-color: $form-color2;
                        font-size: 38px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 46px;
                        color: $color5;
                        margin: -43px 101px 0 36px;
                        padding: 11px 15px 17px 16px;
                        opacity: 1;
                        z-index: 1;
                    }
                    .subtitle {
                        width: 62%;
                        height: 123px;
                        display: block;
                        margin: 33px 100px 0 36px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                    }
                }
                .btn-box {
                    margin-left: 36px;
                }
            }
        }
        .values-wrapper {
            width: 100%;
            .container-values {
                width: 90%;
                display: block;
                position: relative;
                background-color: $color1;
                box-sizing: border-box;
                margin: 68px 0 0 36px;
                border: 3px solid #4F53C2;
                .container-content {
                    width: 100%;
                    display: flex;
                    position: relative;
                    padding: 26px 0 25px 0;
                    opacity: 1;
                    z-index: 2;
                    .column-text {
                        width: 62%;
                        display: block;
                        position: relative;
                        flex-direction: column;
                        padding-left: 19px;
                        opacity: 1;
                        z-index: 2;
                        .values {
                            li {
                                display: none;
                                &.active {
                                    display: block;
                                }
                                h2 {
                                    font-family: Arial, Helvetica, sans-serif;
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 30px;
                                    line-height: 36px;
                                    text-align: left;
                                }
                                h3 {
                                    font-family: Arial, Helvetica, sans-serif;
                                    font-style: italic;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 19px;
                                    text-align: left;
                                    color: #E2EF5C;
                                }
                                p {
                                    font-family: Arial, Helvetica, sans-serif;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 17px;
                                    color: #FFFFFF;
                                }
                            }
                        }
                    }
                }
                .column-icons {
                    width: 16%;
                    display: block;
                    padding-left: 27px;
                    .icons {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        list-style: none;
                        li {
                            margin-bottom: 20px;
                            transition: all 2s;
                            &:hover {
                                .icon {
                                    svg path {
                                        transition: all 1.5s;
                                        fill: $color6 !important;
                                    }
                                }
                            }
                            &.active {
                                .icon {
                                    svg path {
                                        fill: $color6 !important;
                                    }
                                }
                            }
                            .icon {
                                display: block;
                            }
                        }
                    }
                }
            }
            @media screen and (max-width: 360px) {
                border-right: none !important;
            }
        }
    }
    .yellow-square {
        content: "";
        width: 57%;
        height: 138px;
        display: block;
        position: static;
        border: 3px solid $color6;
        margin-top: -105px;
        margin-left: 13px;
        z-index: -2;
    }
    // GIF + Bullet points
    .animation-wrapper {
        width: 100%;
        .row {
            width: 100%;
            display: flex;
            .column {
                .animation {
                    flex-direction: row;
                    display: block;
                    width: 100%;
                    img {
                        width: 80%;
                        margin: 60px 36px 0 36px;
                    }
                }
                .btn-contact-mob {
                    border: solid 3px $color4;
                    color: $color4;
                    font-size: 18px;
                    font-family: Arial, Helvetica, sans-serif;
                    font-weight: 600;
                    margin: 23px 0 23px 36px;
                    padding: 11px 13px 11px 17px;
                    line-height: 22px;
                    display: flex;
                    align-items: center;
                    background: none;
                    transition: all 1s;
                    &::after {
                        content: ' ';
                        background-color: $color4;
                        display: inline-block;
                        width: 21px;
                        height: 21px;
                        margin-left: 6px;
                        mask-image: url('../../assets/icon-seta@3x.svg');
                        mask-repeat: no-repeat;
                        mask-position: center;
                        transition: all 1s;
                    }
                    &:hover {
                        border-color: $color6;
                        color: $color6;
                        &::after {
                            background-color: $color6;
                        }
                    }
                }
                .box-text-news {
                    flex-direction: row;
                    margin: 0 95px 0 27px;
                    .bullet-points {
                        width: 66%;
                        font-weight: 500;
                        font-size: 16px;
                        line-height: 36px;
                        color: $color6;
                        text-decoration: underline;
                        text-align: left;
                        margin-left: 27px;
                    }
                }
            }
        }
    }
    // Carrossel
    .carousel-wrapper {
        width: 100%;
        .about-the-hogarth-world {
            width: 80%;
            font-weight: 600;
            font-size: 30px;
            line-height: 36px;
            text-align: center;
            color: $color5;
            margin: 61px 36px 0 35px;
        }
        .owl-theme {
            .owl-nav {
                position: absolute;
                margin-top: -120px;
                margin-left: 7px;
                background-color: none !important;
                .owl-dot {
                    width: 8px;
                    height: 8px;
                }
            }
            .owl-dots {
                margin-top: 7px;
            }
        }
        .owl-next {
            img {
                margin-left: 250px;
            }
        }
        .owl-carousel {
            margin-top: 15px;
        }
    }
    .form-wrapper {
        width: 100%;
        .contact-us {
            width: 287px;
            height: 400px;
            background-color: $form-color2;
            margin-top: 50px;
            margin-left: 36px;
        }
    }
    // formulario
    .masker {
        color: $form-color2;
        display: flex;
        box-sizing: border-box;
        height: max-content;
        justify-content: center;
        align-items: center;
        position: relative;
        .success {
            display: none !important;
            opacity: 0;
            position: absolute;
            text-align: center;
            align-items: center;
            height: 100%;
            width: 77%;
            max-width: 780px;
            display: flex;
            opacity: 1;
            .text {
                width: 100%;
                text-align: center;
                padding-left: 12%;
                padding-right: 12%;
                h1 {
                    font-weight: 600;
                    font-size: 45px;
                    line-height: 54px;
                    padding-bottom: 7%;
                }
                p {
                    padding-top: 0;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 19px;
                    &:nth-of-type(1) {
                        padding-bottom: 3%;
                    }
                }
            }
        }
        .contact-us {
            width: 100%;
            display: flex;
            justify-content: center;
            font-size: 16px;
            @media screen and (min-width: 900px) {
                font-size: 14px;
            }
            form {
                width: 77%;
                max-width: 780px;
                background-color: $form-color3;
                height: fit-content;
                .form-content {
                    legend {
                        text-align: center;
                        text-transform: lowercase;
                        padding-top: 33px;
                        padding-bottom: 0;
                        font-size: 45px;
                        font-weight: 600;
                    }
                    .row {
                        padding-left: 6%;
                        padding-right: 6%;
                    }
                    .row-to {
                        padding-top: 0;
                        padding-bottom: 13px;
                    }
                    .basic-info {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        padding-top: 39px;
                        padding-bottom: 39px;
                        .column {
                            display: flex;
                            flex-direction: column;
                            padding-left: 23px;
                            padding-right: 23px;
                            padding-top: 15px;
                            @media screen and (max-width: 846px) {
                                padding-left: 0;
                                padding-right: 0;
                                @media screen and (min-width: 709px) and (max-width: 750px) {
                                    padding-left: 18px;
                                }
                                @media screen and (min-width: 750px) {
                                    &:nth-child(2) {
                                        padding-left: 23px;
                                    }
                                }
                            }
                            &:nth-child(1) {
                                padding-left: 0;
                                padding-right: 0;
                            }
                            &:nth-last-child(1) {
                                padding-right: 0;
                                padding-left: 0;
                            }
                            label {
                                visibility: hidden;
                                font-size: 8px;
                                opacity: 0;
                                transform: scaleX(0);
                            }
                            input,
                            input:empty {
                                float: right;
                                border-bottom: 1px solid $form-color2;
                                color: $form-color2;
                                width: 240px;
                                padding-bottom: 3px;
                                padding-top: 5px;
                                @media screen and (min-width: 846px) {
                                    width: 206px;
                                }
                                &:focus,
                                &:valid {
                                    border-bottom: 1px solid $form-color5;
                                    color: $form-color5;
                                    &::placeholder {
                                        color: $form-color3;
                                    }
                                    .column .label {
                                        display: block
                                    }
                                }
                                &:invalid:focus {
                                    border-bottom: 1px solid #ff527e;
                                }
                                &::placeholder {
                                    color: $form-color2;
                                }
                            }
                        }
                    }
                }
                .radio-section {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    width: 100%;
                    padding-top: 0;
                    padding-bottom: 0;
                    .radio {
                        width: fit-content;
                        padding-bottom: 20px;
                        padding-right: 33px;
                        position: static;
                        input {
                            appearance: none;
                            margin: 0;
                            font: inherit;
                            color: currentColor;
                            width: 10.5px;
                            padding: 10.5px;
                            border: 2px solid currentColor;
                            border-radius: 50%;
                            transform: translateY(-3px);
                        }
                        .checked1 {
                            width: 16px;
                            max-width: 16px;
                            height: 16px;
                            max-height: 16px;
                            background-color: $form-color2;
                            position: static;
                            border-radius: 50%;
                            margin-top: -1.47rem;
                            margin-left: 0.2937rem;
                            margin-bottom: 0;
                            display: none;
                            opacity: 0;
                        }
                        .checked2 {
                            width: 16px;
                            max-width: 16px;
                            height: 16px;
                            max-height: 16px;
                            background-color: $form-color2;
                            position: static;
                            border-radius: 50%;
                            margin-top: -1.47rem;
                            margin-left: 0.2935rem;
                            margin-bottom: 0;
                            display: none;
                            opacity: 0;
                        }
                        .checked3 {
                            width: 16px;
                            max-width: 16px;
                            height: 16px;
                            max-height: 16px;
                            background-color: $form-color2;
                            position: static;
                            border-radius: 50%;
                            margin-top: -1.47rem;
                            margin-left: 0.2935rem;
                            display: none;
                            opacity: 0;
                        }
                    }
                }
                .row-subject {
                    padding-top: 25px;
                    label {
                        font-size: 8px;
                    }
                }
                .row-label {
                    padding-top: 45px;
                    padding-bottom: 0;
                }
                .row-message {
                    padding-top: 0;
                    padding-bottom: 32px;
                    //aumentar o tamanho dinamicamente com javascript
                    textarea {
                        resize: none;
                        border-bottom: 1px solid $form-color2;
                        padding-top: 10px;
                        height: 150px;
                        width: 100%;
                        color: white;
                        @media screen and (min-width: 900px) {
                            height: 100px;
                        }
                        @media screen and (min-width: 1100px) {
                            height: 60px;
                        }
                        &:focus,
                         :valid {
                            border-bottom: 1px solid $form-color5;
                            color: #def034;
                        }
                    }
                }
                .row-btn {
                    display: flex;
                    justify-content: center;
                    padding-bottom: 40px;
                    .btn-form {
                        border: 3px solid $form-color2;
                        color: $form-color2;
                        font-size: 17px;
                        font-family: Arial, Helvetica, sans-serif;
                        font-weight: 600;
                        padding: 11px 13px 11px 17px;
                        line-height: 20px;
                        display: flex;
                        align-items: center;
                        background: none;
                        transition: all 1s;
                        &::after {
                            content: '';
                            background-color: $form-color2;
                            display: inline-block;
                            width: 21px;
                            height: 21px;
                            margin-left: 6px;
                            mask-image: url("../assets/icon-seta.svg");
                            mask-repeat: no-repeat;
                            mask-position: center;
                            transition: all 1s;
                        }
                        &:hover {
                            border-color: $form-color5;
                            color: $form-color5;
                            &::after {
                                background-color: $form-color5;
                            }
                        }
                    }
                }
            }
        }
        .after-form {
            position: absolute;
        }
    }
    // Footer
    .footer-wrapper {
        width: 100%;
        background-color: $color1;
        .geral {
            width: 100%;
            .container-left {
                width: 100%;
                .hogarth {
                    margin-left: 128px;
                    margin-top: 100px;
                    img {
                        width: 104px;
                        color: #ffffff;
                    }
                }
                .menu-footer {
                    display: table;
                    margin-top: 31px;
                    margin-left: 36px;
                    .text-terms {
                        display: flex;
                        flex-direction: column;
                        align-items: left;
                        list-style: none;
                        font-family: Arial, Helvetica, sans-serif;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 17px;
                        color: #ffffff;
                        .link-terms {
                            margin-top: 17px;
                        }
                    }
                }
                .container-social-links {
                    display: table;
                    margin-top: 24px;
                    margin-bottom: 14px;
                    margin-left: 37px;
                    .social-links {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        list-style: none;
                        .social-floot {
                            margin-right: 12px;
                        }
                    }
                }
            }
            .divider-logo {
                width: 288px;
                margin: 0 auto;
                border-bottom: 3px solid #2A2950;
            }
            .container-center {
                text-align: center;
                display: block;
                img {
                    width: 74px;
                    margin: 48px 143px;
                }
            }
            .container-right {
                display: table;
                margin-left: 36px;
                margin-top: 14px;
                .menu-geral {
                    flex-direction: column;
                    align-items: left;
                    list-style: none;
                    font-style: normal;
                    font-size: 14px;
                    font-family: Arial, Helvetica, sans-serif;
                    line-height: 17px;
                    color: #fefeff;
                    margin-bottom: 34px;
                    .link-policy {
                        padding-bottom: 17px;
                    }
                }
            }
        }
    }
}

// Media Queries
@media screen and (min-width: 1440px) {
    html {
        .btn-contact-us {
            display: block;
            top: 75vh;
        }
        body {
            max-width: 1440px;
            background-color: $color1;
            margin: 0 auto;
            // Header
            header {
                margin: 0 auto;
                display: flex;
                width: 100%;
                height: 250px;
                background: url(/assets/untitled-1-1@3x.png);
                background-position: center;
                background-repeat: no-repeat;
                background-size: 40%;
                object-fit: contain;
                position: static;
                top: 0;
                right: 0;
                .header-wrapper {
                    .social-container-header {
                        flex-direction: column;
                        display: table;
                        position: absolute;
                        top: 3%;
                        right: 18%;
                        .social-icons-header {
                            display: flex;
                            align-items: center;
                            flex-direction: column;
                            list-style: none;
                            .social-links-header {
                                margin-bottom: 7px;
                            }
                        }
                    }
                }
            }
            // Content
            .content {
                width: 100%;
                .banner-wrapper {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    .main-banner {
                        width: 100%;
                        box-sizing: border-box;
                        .main-image {
                            width: 50%;
                            height: 367px;
                            margin-left: 113px;
                            img {
                                width: 70%;
                                height: 365px;
                                padding-left: 137px;
                                object-fit: cover;
                                border: none;
                                z-index: -2;
                            }
                        }
                        //! Está se mexendo conforme o Layout
                        .green-square {
                            content: "";
                            width: 406px;
                            height: 94px;
                            display: block;
                            position: absolute;
                            box-sizing: border-box;
                            border: 3px solid $color3;
                            margin-top: -315px;
                            margin-left: 615px;
                            left: 85px;
                            z-index: 1;
                        }
                        .box-text-banner {
                            .title {
                                width: 415px;
                                height: 175px;
                                display: block;
                                position: relative;
                                background-color: $form-color2;
                                margin-top: -265px;
                                margin-left: 650px;
                                padding: 0;
                                opacity: 1;
                                z-index: 1;
                                p {
                                    font-family: Arial, Helvetica, sans-serif;
                                    font-size: 60px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 72px;
                                    color: $color5;
                                    padding: 13px 74px 0 38px;
                                }
                            }
                            .subtitle {
                                width: 305px;
                                height: 123px;
                                display: block;
                                margin-top: 24px;
                                margin-left: 790px;
                                p {
                                    font-family: Arial, Helvetica, sans-serif;
                                    font-style: normal;
                                    font-weight: 500;
                                    font-size: 16px;
                                    line-height: 19px;
                                }
                            }
                        }
                        .btn-box {
                            margin-left: 790px;
                        }
                    }
                }
                .values-wrapper {
                    width: 100%;
                    .container-values {
                        width: 55%;
                        height: 370px;
                        display: block;
                        position: relative;
                        background-color: $color1;
                        border: 3px solid #4F53C2;
                        box-sizing: border-box;
                        margin-top: 94px;
                        margin-left: 330px;
                        .container-content {
                            width: 100%;
                            height: 310px;
                            display: flex;
                            position: relative;
                            padding: 0 !important;
                            opacity: 1;
                            z-index: 2;
                            .column-text {
                                width: 609px;
                                display: block;
                                position: relative;
                                flex-direction: column;
                                padding-top: 59px;
                                padding-left: 43px;
                                opacity: 1;
                                z-index: 2;
                                .values {
                                    li {
                                        display: none;
                                        &.active {
                                            display: block;
                                        }
                                        h2 {
                                            font-family: Arial, Helvetica, sans-serif;
                                            font-style: normal;
                                            font-weight: 600;
                                            font-size: 45px;
                                            line-height: 54px;
                                            text-align: left;
                                        }
                                        h3 {
                                            font-family: Arial, Helvetica, sans-serif;
                                            font-style: italic;
                                            font-weight: 600;
                                            font-size: 18px;
                                            line-height: 22px;
                                            text-align: left;
                                            color: #E2EF5C;
                                        }
                                        p {
                                            font-family: Arial, Helvetica, sans-serif;
                                            font-style: normal;
                                            font-weight: 500;
                                            font-size: 16px;
                                            line-height: 19px;
                                            color: #FFFFFF;
                                        }
                                    }
                                }
                            }
                        }
                        .column-icons {
                            width: 16%;
                            display: block;
                            padding-top: 35px;
                            padding-left: 20px;
                            .icons {
                                display: flex;
                                flex-direction: column;
                                align-items: center;
                                justify-content: center;
                                list-style: none;
                                li {
                                    &.active {
                                        .icon {
                                            svg path {
                                                fill: $color6 !important;
                                            }
                                        }
                                    }
                                    .icon {
                                        display: block;
                                    }
                                }
                            }
                        }
                    }
                }
                //! CONSERTAR POSICIONAMENTO
                .yellow-square {
                    content: "";
                    width: 320px;
                    height: 138px;
                    display: block;
                    position: absolute;
                    border: 3px solid $color6;
                    margin-left: 250px;
                    z-index: -2;
                }
                .animation-wrapper {
                    width: 100%;
                    .row {
                        .column {
                            display: flex;
                            .animation {
                                width: 382.5px;
                                height: 120px;
                                display: block;
                                flex-direction: column;
                                order: 1;
                                img {
                                    width: 382.5px;
                                    height: 120px;
                                    margin-top: 139px;
                                    margin-right: 0;
                                    margin-left: 55px;
                                }
                            }
                            .btn-contact-mob {
                                display: none;
                            }
                            .box-text-news {
                                width: 382px;
                                height: 200px;
                                flex-direction: column;
                                order: 0;
                                margin-top: 90px;
                                margin-left: 330px;
                                .bullet-points {
                                    font-weight: 500;
                                    font-size: 18px;
                                    line-height: 36px;
                                    color: $color6;
                                    text-decoration: underline;
                                    text-align: left;
                                }
                            }
                        }
                    }
                }
                .carousel-wrapper {
                    width: 100%;
                    .about-the-hogarth-world {
                        width: 41%;
                        font-weight: 600;
                        font-size: 30px;
                        line-height: 36px;
                        text-align: center;
                        color: $color5;
                        margin-left: 30%;
                        margin-right: 29%;
                    }
                    .owl-theme {
                        .owl-nav {
                            position: absolute;
                            margin-top: -423px;
                            margin-left: 30px;
                            background-color: none !important;
                            .owl-dot {
                                width: 8px;
                                height: 8px;
                            }
                        }
                        .owl-dots {
                            margin-top: 7px;
                        }
                    }
                    .owl-next {
                        img {
                            margin-left: 1290px;
                        }
                    }
                    .owl-carousel {
                        margin-top: 30px;
                    }
                }
                .form-wrapper {
                    width: 100%;
                    .contact-us {
                        width: 54%;
                        height: 669px;
                        background-color: $form-color2;
                        margin-left: 330px;
                    }
                }
            }
            // Footer
            .footer-wrapper {
                width: 100%;
                background-color: $color1;
                .geral {
                    width: 67%;
                    height: 228px;
                    margin-top: 143px;
                    margin-left: 249px;
                    margin-bottom: 72px;
                    text-align: left;
                    display: flex;
                    .container-left {
                        width: 25%;
                        .hogarth {
                            display: none !important;
                        }
                        .menu-footer {
                            flex-direction: column;
                            align-items: left;
                            list-style: none;
                            font-family: Arial, Helvetica, sans-serif;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 19px;
                        }
                        .container-social-links {
                            .social-links {
                                display: flex;
                                flex-direction: row;
                                text-align: left;
                                margin-top: 29px;
                                .social-floot {
                                    padding-right: 8px;
                                }
                            }
                        }
                    }
                    .divider-logo {
                        height: 228px;
                        width: 0;
                        border-right: 3px solid #2A2950;
                        border-top: 0;
                        border-bottom: 0;
                        border-left: 0;
                    }
                    .container-center {
                        display: block;
                        width: 399px;
                        height: 228px;
                        img {
                            width: 74px;
                            margin: 79px 153px 82px 172px;
                        }
                    }
                    .container-right {
                        margin-top: 42px;
                        .menu-geral {
                            width: 280px;
                            height: 228px;
                            display: flex;
                            flex-direction: column;
                            align-items: left;
                            list-style: none;
                            font-style: normal;
                            font-size: 16px;
                            font-family: Arial, Helvetica, sans-serif;
                            line-height: 14px;
                        }
                    }
                }
            }
        }
    }
}

.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
}


/* ------------------------------- Javascript ------------------------------- */

.showFade {
    display: block!important;
    animation: fadeIn 400ms linear 0ms 1 forwards;
}

.showLabel {
    visibility: visible!important;
    animation: slideRight 150ms ease-in 0ms 1 forwards;
}

.tksEnabled {
    display: flex!important;
    animation: fadeIn 250ms ease-in 0ms 1 forwards;
}

.contentHidden {
    animation: fadeOut 250ms ease-out 0ms 1 forwards;
}